
/* .main {
    margin: 10px auto;
    width: 80%;
    position: relative;
  } */
  
  .pagination {
    margin: 10px auto;
    /* width: 20%; */
  }
  
  .btn {
    background-color: cornflowerblue;
    color: black;
    font-weight: bold;
    border: none;
    /* font-size: 1.1em; */
    padding: 0.45em;
    /* width: 3em; */
    cursor: pointer;
  }
  .prev {
    border-radius: 0.4em 0 0 0.4em;
  }
  .next {
    border-radius: 0 0.4em 0.4em 0;
  }
  .pageClick {
    padding: 5px;
    color: rgb(243, 241, 241);
    /* margin: 5px; */
    background-color: cornflowerblue;
  }
  .btn:disabled {
    background-color: dimgrey;
    cursor: auto;
  }