.header {
    text-align: center;
    /* color: rgb(148, 41, 41); */
    padding: 1.5em auto;
    /* font-size: 2em; */
    /* background-color: rgb(73, 170, 165); */
    /* background-color: rgb(18, 29, 51); */
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    /* top: 0; */
    height: 1.5em;
}
h3 {
  margin-top: 0.1em;
}
.header-small {
  font-size: 0.5em;
  margin-top: 1em;
}
/* .header span {
  /* font-size: 1em; */
  /* margin-left: 3em; */
/* } */ 
.btc {
    height: 40vmin;
    pointer-events: none;    
    animation: logo-spin infinite 5s linear;
  }

@keyframes logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }